apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-1
  labels:
    app: frontend-1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-1
  template:
    metadata:
      labels:
        app: frontend-1
    spec:
      containers:
      - name: frontend-1
        image: abasiifrekeuwem/udagram-frontend:v2
        resources:
          requests:
            cpu: "200m"
          limits:
            cpu: "500m"
        ports:
        - containerPort: 80